<!DOCTYPE html>
<html>
<head>
    <style>
        /* Style for the output box container */
        .output-container {
            border: 1px solid #ccc;
            border-radius: 5px;
            width: 300px;
            padding: 10px;
            background-color: #f7f7f7;
            cursor:pointer
        }
    </style>
</head>
<body>

<!-- Output box -->
<div class="output-container" id="output-box">

   </div>
   <span>ShortId is :</span>
<a class="output-container" href="/{{shortId}}">
   {{shortId}}
</a>

</body>
</html>